@tailwind base;
@tailwind components;
@tailwind utilities; 

h1 {
  @apply font-bold text-4xl text-xiketic mb-0 mt-4;
	scroll-margin-top: 4em;
}

h2, .h2 {
  @apply font-bold text-2xl mt-8 text-xiketic mb-0;
	scroll-margin-top: 4em;
}

h3 {
  @apply font-bold text-xl mt-8 text-xiketic mb-0;
	scroll-margin-top: 4em;
}

h4 {
  @apply font-bold text-lg mt-8 text-xiketic mb-0;
	scroll-margin-top: 4em;
}

hr {
  @apply my-8;
}

pre {
  @apply mb-4;
}

p {
  @apply mb-4;
}

a {
  @apply underline;
}

nav a {
  @apply no-underline;
}

main ul {
  @apply ml-4 mb-6;
  list-style-type: disc;
}

main ul li {
  @apply mb-2;
}

.params-table {
  @apply grid grid-cols-12;
}

.params-table-header {
  @apply bg-black text-white font-bold p-4;
}

.params-table-header:first-of-type {
  @apply col-span-5 sm:col-span-3 md:col-span-2;
}

.params-table-header:nth-of-type(2) {
  @apply col-span-7 sm:col-span-3 md:col-span-2;
}

.params-table-header:nth-of-type(3) {
  @apply col-span-6 hidden sm:col-span-6 md:col-span-8 sm:block;
}

.params-cell {
  @apply p-4;
  scroll-margin-top: 4em;
}

.params-cell:nth-of-type(3n+1) {
  @apply font-bold col-span-5 sm:col-span-3 md:col-span-2;
}

.params-cell:nth-of-type(3n+2) {
  @apply col-span-7 sm:col-span-3 md:col-span-2;
}

.params-cell:nth-of-type(3n+3) {
  @apply col-span-12 pt-0 sm:pt-4 sm:col-span-6 md:col-span-8;
}

.params-cell:nth-of-type(6n+1) {
  @apply bg-orange-light;
}

.params-cell:nth-of-type(6n+2) {
  @apply bg-orange-light;
}

.params-cell:nth-of-type(6n+3) {
  @apply bg-orange-light;
}


