<!doctype html>
<html>
  {% include head %}
  <body class="bg-gray">
    <div class="max-w-screen-2xl grid grid-cols-12 mx-auto bg-white shadow-2xl">
      {% include header %}
      <!--{% include search-bar %}-->
      {% include left-nav %}
      <main class="align-top grid grid-cols-12 col-span-12 md:col-span-10 h-screen overflow-y-scroll">
        <section class="col-span-full p-8 py-4">
          <header>
            <h1></h1>
          </header>
          {{ content }}
        </section>
      </main>
      <!--{% include right-nav %}
      {% include footer %}-->
      </div>
  </body>
</html>
