<footer class="bg-gradient-to-r from-xiketic to-seaweed col-span-12 text-white text-center p-4">
  <p><a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a> excerpts re-published under the Creative Commons Attribution-ShareAlike 3.0 license<br/>All other content &copy; 2021, 2022 The J5e Contributors Licensed under the MIT license</p>
</footer>