<header class="py-2 bg-gradient-to-r from-xiketic to-seaweed overflow-hidden">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative flex justify-center items-center">
      <div class="text-white"> module.name J5e: Embedded JavaScript for IoT Devices and Robots</div>
      <span aria-hidden="true" class="hidden sm:block mx-6 h-6 w-px bg-white bg-opacity-20"></span>
      <div class="ml-6 sm:ml-0">
        <a class="whitespace-nowrap inline-flex rounded-md bg-white py-2 px-3 text-xs font-semibold uppercase text-xiketic hover:bg-opacity-90" href="/docs/whats-new">What&rsquo;s New? →</a>
      </div>
    </div>
  </div>
</header>