<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ module.title }}{{ title }}</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
  <script src="/js/index.min.js"></script>
  <script>
    hljs.configure({ignoreUnescapedHTML: true });
    hljs.highlightAll();
  </script>
</head>