<button id="menuButton" type="button" class="menuToggle fixed z-50 bottom-4 right-4 w-16 h-16 rounded-full bg-seaweed text-white block lg:hidden">
  <span class="sr-only">Open site navigation</span>
  <svg id="menuOpen" width="24" height="24" fill="none" class="menuToggle absolute top-1/2 left-1/2 -mt-3 -ml-3 transition duration-100 transform">
    <path class="menuToggle" d="M4 4h16M4 12h16M4 20h16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
  <svg id="menuClose" width="24" height="24" fill="none" class="menuToggle absolute top-1/2 left-1/2 -mt-3 -ml-3 transition duration-100 transform opacity-0 scale-80">
    <path class="menuToggle" d="M6 18L18 6M6 6l12 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
</button>
<nav id="leftnav" class="max-w-full bg-white hidden h-screen z-40 inset-0 flex-none col-span-12 leading-8 sticky overflow-y-scroll scrolling-touch lg:block lg:relative lg:col-span-2 pr-4">
  <ul class="text-xl">
    <li class="text-xiketic text-2xl p-4 lg:pb-0 lg:my-6">
      <a href="/"><img class="h-8" src="/images/j5e.svg" /></a></li>
    <li class="mb-2 text-2xl lg:text-base xl:text-xl p-2 pl-4 mr-2 ml-4 bg-gradient-to-r from-xiketic to-seaweed text-white rounded-full">Getting Started</li>
    <li>
      <ul class="bg-white text-xiketic text-2xl xl:text-xl lg:text-base p-2 pl-8">
        <li class="pb-3"><a href="/getting-started/installation/">Installing J5e</a></li>
      </ul>
    </li>
    <li class="mb-2 text-2xl lg:text-base xl:text-xl p-2 pl-4 mr-2 ml-4  bg-gradient-to-r from-xiketic to-seaweed text-white rounded-full">Core Concepts</li>
    <li>
      <ul class="bg-white text-xiketic text-2xl lg:text-base xl:text-xl p-2 pl-8">
        <li class="pb-3"><a href="/core-concepts/animation/">Animation</a></li>
        <li class="pb-3"><a href="/core-concepts/instantiation/">Device Instantiation</a></li>
      </ul>
    </li>
    <li class="mb-2 text-2xl lg:text-base xl:text-xl p-2 pl-4 mr-2 ml-4  bg-gradient-to-r from-xiketic to-seaweed text-white rounded-full">Modules</li>
    <li>
      <ul class="bg-white text-xiketic text-2xl lg:text-base xl:text-xl p-2 pl-8">
        {% for module in modules %}
          <li class="pb-3"><a href="/modules/{{ module }}">{{ module }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>